{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <!--Main Navigation-->


  <div class="container">
              </div>
    <!--Main layout-->
     <body id="refreshDiv" class="body">


 						&nbsp;

        <div class="container">
            <!--Section: Cards-->
            <section class="text-center">

                <!--Grid row-->
                <div class="row mb-4 wow fadeIn">
                  {% for key,element in datosJob.items() %}
                    {% if element == "4" %}
                      <div class="row mb-4 wow fadeIn">
                      <div class="col-lg-3 col-md-12 mb-3">
                    {% else %}
                    <!--Grid column-->
                        <div class="col-lg-3 col-md-12 mb-3">
                      {% endif %}

            
                      
                        <!--<div>{{key}}: {{datosJob[key]["Estado"]}}</div>-->
                    

<!--Primera Impresora -->
                      <!--Card-->
                        <div  class="card">

                            <!--Card image-->
                            
                            <!--Card content-->
                            <div  class="card">


            {% if datosJob[key] %} <!--Comprobamos que tenemos el servicio de Octoprint lanzado -->

            {% if datosJob[key]["Estado"] == "Operational"%} <!-- Estado Operativa -->
            <div id="tiempoImpresion"></div>

              <div id="gradOperativa" class="card">
                <h4 class="card">
                <a href={{nombresMaquinas[key]["direccion"]}} style = "color:black"> {{ nombresMaquinas[key]["Nombre"] }}</a>
              </h4>

             	<p>   </p>
             	<!--Estado e icono de desconectar -->
                {% if session['visor'] %}
d
                <pre> <em class="fas fa-info-circle" style="font-size: 24px"></em> : {{datosJob[key]["Estado"]}} </pre>
                {% else %}
                    <pre> <em class="fas fa-info-circle" style="font-size: 24px"></em> : {{datosJob[key]["Estado"]}}   <a href="#" style= <button onclick="confirmacionDesconectar({{nombresMaquinas[key]["numMaquina"]}})" class="buttonDisconnect"><i class="fas fa-power-off" style="font-size:24px"></i></a> </pre>

                {% endif %}
                    <!--Tiempo de ultima impresion -->
                    <pre> <em class="fa fa-clock-o" style="font-size:24px"></em> Ultima: {{datosJob[key]["TiempoUltimaImpresion"]}}</pre>

                {% if datosJob[key]["TiempoUltimaImpresion"] == 'N' %}
                    <pre> <em class="fa fa-clock-o" style="font-size:24px"></em> Ultima: {{datosJob[key]["TiempoUltimaImpresion"]}}</pre>
                {% endif %}
                <!--Nombre del ultimo archivo que ha impreso -->
                <pre> <em class="fa fa-archive" style="font-size:24px"></em> :<span style="font-size: 12px">{{datosJob[key]["Nombre"][:30]}} </span></pre>

                {% if datosJob[key]["Nombre"] == 'N' %}
                      <pre> <em class="fa fa-archive" style="font-size:24px"></em> :<span style="font-size: 12px">{{datosJob[key]["Nombre"][:30]}} </span></pre>
                {% endif %}
                <!--Porcentaje de impresion -->
                {% if datosJob[key]["Porcentaje"] == 'None'%}
                      <div id="progressBar">

                        <div id="progress-bar"  role="progressbar"  aria-valuemin="0" aria-valuemax="100" >

                        </div>
                      </div>
                {% elif datosJob[key]["Porcentaje"] == '100.0' %}

                      <div id="progressBar">

                        <div id="progress-bar"  role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width:{{datosJob[key]["Porcentaje"]}}%">
                        {{datosJob[key]["Porcentaje"][:3]}}%
                        </div>
                      </div>

                {% else %}
                    <div id="progressBar">

                        <div id="progress-bar"  role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width:{{datosJob[key]["Porcentaje"]}}%">
                        {{datosJob[key]["Porcentaje"][:4]}}%
                        </div>
                      </div>

                {% endif %}
                <pre></pre>
                <!--Temperaturas de la cama y el extrusor -->
                {% if datosPrinter[key] %}

					<!--Comprobacion cuando es una Witbox (sin cama caliente) -->
					{% if datosPrinter[key]["CamaDisponible"] == "No"%}
	 					<pre id="temphotend"> <em class="fas fa-thermometer-three-quarters" style="font-size:24px"></em> Extrusor: {{datosPrinter[key]["TempHottendActual"]}}/{{datosPrinter[key]["TempHottendFijada"]}}ºC</pre>
	                {% else %}
	                    <pre id="temphotend"> <em class="fas fa-thermometer-three-quarters" style="font-size:24px"></em> Extrusor: {{datosPrinter[key]["TempHottendActual"]}}/{{datosPrinter[key]["TempHottendFijada"]}}ºC</pre>
	                    {% if datosPrinter[key]["TempCamaActual"] > "0.0" %}
	                    	<pre> <em class="fa fa-thermometer-quarter" style="font-size:24px"></em> Cama: {{datosPrinter[key]["TempCamaActual"]}}/{{datosPrinter[key]["TempCamaFijada"]}}ºC</pre>
	                    {% endif %}
	                {% endif %}
                  {% else %} <!-- En este caso, el servicio del OctoPrint esta funcionando, pero ha habido algun error -->
                  <pre> Impresora no conectada </pre>

                {% endif %}

             <!-- {{fallos[key]}}-->

             <!-- Empezar a imprimir si hay gcode cargado (Botonera) -->
                {% if session['visor'] %}

                    {% else %}
                    <div class="btn-group btn-group" role="group" style="text-align: center;">
              <p>
                  <button type="button" class="btn btn-primary" style="padding: 8px;" onclick="confirmacionStart({{nombresMaquinas[key]["numMaquina"]}})"> <em class="fa fa-print" style="font-size:24px"></em></button>
                  <button type="button" class="btn disabled" style="padding: 8px;" onclick="confirmacionPausar({{nombresMaquinas[key]["numMaquina"]}})" > <em class="fa fa-pause" style="font-size:24px;color: black"></em></button>
                  <button type="button"class="btn disabled" style="padding: 8px;"onclick="confirmacionCancelar({{nombresMaquinas[key]["numMaquina"]}})" > <em class="fa fa-stop" style="font-size:24px; color: black"></em></button></p>
                     </div>
                {% endif %}

            {% elif datosJob[key]["Estado"] == "Printing" %} <!--Estado imprimiendo -->
              <div id="gradImprime" class="card">
                   <h4 class="card">
                <a href={{nombresMaquinas[key]["direccion"]}} style = "color:black">{{nombresMaquinas[key]["Nombre"]}}</a>
              </h4>

              <p>   </p>
             	<!--Estado e icono de desconectar -->
                {% if session['visor'] %}

                <pre> <em class="fas fa-info-circle" style="font-size: 24px"></em> : {{datosJob[key]["Estado"]}} </pre>
                {% else %}
                    <pre> <em class="fas fa-info-circle" style="font-size: 24px"></em> : {{datosJob[key]["Estado"]}}   <a href="#" style= <button onclick="confirmacionDesconectar({{nombresMaquinas[key]["numMaquina"]}})" class="buttonDisconnect"><i class="fas fa-power-off" style="font-size:24px;color: #1b5e20"></i></a> </pre>

                {% endif %}                <!--Tiempo restante de impresion -->
                  {% if datosJob[key]["TiempoRestante"] == "None" %}
                  {% elif datosJob[key]["TiempoRestante"] == "0:00:00" %}
                  {% elif datosJob[key]["TiempoRestante"] == "-"%}

                  {% else %}

                  <pre> <em class="fa fa-clock-o" style="font-size:24px"></em> Restante: {{datosJob[key]["TiempoRestante"]}} </pre>
                  {% endif %}
                <!--Nombre del ultimo archivo que ha impreso -->
                {% if datosJob[key]["Nombre"] != 'None' %}
                      <p> <em class="fa fa-archive" style="font-size:24px"></em> :<span style="font-size: 12px"> {{datosJob[key]["Nombre"]}} </span></p>
                {% endif %}
                <!--Porcentaje de impresion -->
                {% if datosJob[key]["Porcentaje"] == 'None'%}

                {% elif datosJob[key]["Porcentaje"] == '100.0' %}

                      <div id="progressBar">

                        <div id="progress-bar"  role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width:{{datosJob[key]["Porcentaje"]}}%">
                        {{datosJob[key]["Porcentaje"][:3]}}%
                        </div>
                      </div>
                {% else %}
                    <div id="progressBar">

                        <div id="progress-bar"  role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width:{{datosJob[key]["Porcentaje"]}}%">
                        {{datosJob[key]["Porcentaje"][:4]}}%
                        </div>
                      </div>
                      <pre></pre>
                {% endif %}

                <!--Temperaturas de la cama y el extrusor -->
                {% if datosPrinter[key] %}

					<!--Comprobacion cuando es una Witbox (sin cama caliente) -->
					{% if datosPrinter[key]["CamaDisponible"] == "No"%}
            <pre> <i class="fas fa-thermometer-three-quarters" style="font-size:24px"></i> Extrusor: {{datosPrinter[key]["TempHottendActual"]}}/{{datosPrinter[key]["TempHottendFijada"]}}ºC</pre>
                  {% else %}
                      <pre> <em class="fas fa-thermometer-three-quarters" style="font-size:24px"></em> Extrusor: {{datosPrinter[key]["TempHottendActual"]}}/{{datosPrinter[key]["TempHottendFijada"]}}ºC</pre>
                      {% if datosPrinter[key]["TempCamaActual"] > "0.0" %}
                        <pre> <em class="fa fa-thermometer-quarter" style="font-size:24px"></em> Cama: {{datosPrinter[key]["TempCamaActual"]}}/{{datosPrinter[key]["TempCamaFijada"]}}ºC</pre>
                      {% endif %}
                  {% endif %}
                  {% else %} <!-- En este caso, el servicio del OctoPrint esta funcionando, pero ha habido algun error -->
                  <pre> Impresora no conectada </pre>

                {% endif %}

            <!-- Pusar o Cancelar impresion (Botonera) -->
                {% if session['visor'] %}

                    {% else %}
                    <div class="btn-group btn-group" role="group" style="text-align: center;">
              <p>
                  <button type="button" class="btn disabled" style="padding: 8px;" onclick="confirmacionStart({{nombresMaquinas[key]["numMaquina"]}})"> <em class="fa fa-print" style="font-size:24px;color: black"></em></button>
                  <button type="button" class="btn btn-warning" style="padding: 8px;" onclick="confirmacionPausar({{nombresMaquinas[key]["numMaquina"]}})" > <em class="fa fa-pause" style="font-size:24px;color: black"></em></button>
                  <button type="button"class="btn btn-danger" style="padding: 8px;"onclick="confirmacionCancelar({{nombresMaquinas[key]["numMaquina"]}})" > <em class="fa fa-stop" style="font-size:24px; color: black"></em></button></p>
                     </div>
                {% endif %}
             <!-- {{fallos[key]}}-->



              <!-- Cuando el estado es Pausa -->
              {% elif datosJob[key]["Estado"] == "Paused" %}
                            <div id="gradPausa" class="card">
                   <h4 class="card">
                <a href={{nombresMaquinas[key]["direccion"]}} style = "color:black">{{nombresMaquinas[key]["Nombre"]}}</a>
              </h4>

              <p>   </p>
              <!--Estado e icono de desconectar -->
                {% if session['visor'] %}

                <pre> <em class="fas fa-info-circle" style="font-size: 24px"></em> : {{datosJob[key]["Estado"]}} </pre>
                {% else %}
                    <pre> <em class="fas fa-info-circle" style="font-size: 24px"></em> : {{datosJob[key]["Estado"]}}   <a href="#" style= <button onclick="confirmacionDesconectar({{nombresMaquinas[key]["numMaquina"]}})" class="buttonDisconnect"><i class="fas fa-power-off" style="font-size:24px"></i></a> </pre>

                {% endif %}                <!--Tiempo restante de impresion -->
                  {% if datosJob[key]["TiempoRestante"] == "None" %}
                  {% elif datosJob[key]["TiempoRestante"] == "0:00:00" %}
                  {% elif datosJob[key]["TiempoRestante"] == "-"%}
                  {% else %}

                  <pre> <em class="fa fa-clock-o" style="font-size:24px"></em> Restante: {{datosJob[key]["TiempoRestante"]}} </pre>
                  {% endif %}
                <!--Nombre del ultimo archivo que ha impreso -->
                {% if datosJob[key]["Nombre"] != 'None' %}
                      <p> <em class="fa fa-archive" style="font-size:24px"></em> :<span style="font-size: 12px"> {{datosJob[key]["Nombre"]}} </span></p>
                {% endif %}
                <!--Porcentaje de impresion -->
                {% if datosJob[key]["Porcentaje"] == 'None'%}

                {% elif datosJob[key]["Porcentaje"] == '100.0' %}

                      <div id="progressBar">

                        <div id="progress-bar"  role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width:{{datosJob[key]["Porcentaje"]}}%">
                        {{datosJob[key]["Porcentaje"][:3]}}%
                        </div>
                      </div>
                {% else %}
                    <div id="progressBar">

                        <div id="progress-bar"  role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width:{{datosJob[key]["Porcentaje"]}}%">
                        {{datosJob[key]["Porcentaje"][:4]}}%
                        </div>
                      </div>
                      <pre></pre>
                {% endif %}

                <!--Temperaturas de la cama y el extrusor -->
                {% if datosPrinter[key] %}

          <!--Comprobacion cuando es una Witbox (sin cama caliente) -->
          {% if datosPrinter[key]["CamaDisponible"] == "No"%}
            <pre> <em class="fas fa-thermometer-three-quarters" style="font-size:24px"></em> Extrusor: {{datosPrinter[key]["TempHottendActual"]}} / {{datosPrinter[key]["TempHottendFijada"]}}ºC</pre>
                  {% else %}
                      <pre> <em class="fas fa-thermometer-three-quarters" style="font-size:24px"></em> Extrusor: {{datosPrinter[key]["TempHottendActual"]}} / {{datosPrinter[key]["TempHottendFijada"]}}ºC</pre>
                      {% if datosPrinter[key]["TempCamaActual"] > "0.0" %}
                        <pre> <em class="fa fa-thermometer-quarter" style="font-size:24px"></em> Cama: {{datosPrinter[key]["TempCamaActual"]}} / {{datosPrinter[key]["TempCamaFijada"]}}ºC</pre>
                      {% endif %}
                  {% endif %}
                  {% else %} <!-- En este caso, el servicio del OctoPrint esta funcionando, pero ha habido algun error -->
                  <pre> Impresora no conectada </pre>

                {% endif %}

            <!-- Pusar o Cancelar impresion (Botonera) -->
             <div class="btn-group btn-group" role="group" style="text-align: center;">
              <p>
                  <button type="button" class="btn disabled" style="padding: 8px;" onclick="confirmacionStart({{nombresMaquinas[key]["numMaquina"]}})"> <em class="fa fa-print" style="font-size:24px;color: black"></em></button>
                  <button type="button" class="btn btn-warning" style="padding: 8px;" onclick="confirmacionReanudar({{nombresMaquinas[key]["numMaquina"]}})" > <em class="fa fa-play" style="font-size:24px"></em></button>
                  <button type="button"class="btn btn-danger" style="padding: 8px;"onclick="confirmacionCancelar({{nombresMaquinas[key]["numMaquina"]}})" > <em class="fa fa-stop" style="font-size:24px"></em></button></p>
             </div>


                <!-- Estado cancelling -->
                {% elif datosJob[key]["Estado"] == "Cancelling" %}
                <div id="gradCancel" class="card">
                   <h4 class="card">
                <a href={{nombresMaquinas[key]["direccion"]}} style = "color:black">{{nombresMaquinas[key]["Nombre"]}}</a>
              </h4>
                {% if session['visor'] %}
                    <p> <em class="fas fa-info-circle"  style="font-size: 24px"></em> : {{datosJob[key]["Estado"]}}</p>
                    {% else %}
               <p> <i class="fas fa-info-circle"  style="font-size: 24px"></i> : {{datosJob[key]["Estado"]}}</p>
                    {% endif %}



              <!-- Cuando tenemos el dato por defecto significa que el servicio de OctoPrint no esta lanzado.-->
              {% elif datosJob[key]["Estado"] == "-" %}

              <div id="gradError" class="card">
                <h4 class="card">
                <a href={{nombresMaquinas[key]["direccion"]}} style = "color:black">{{nombresMaquinas[key]["Nombre"]}}</a>
                </h4>
               <p> El servicio de OctoPrint no esta en funcionamiento. </p>
               <em class="fa fa-exclamation-triangle" style="font-size: 48px"></em>


            {% else %} <!-- Cuando el Octoprint funciona pero ha dado algun error -->
              <div id="gradError" class="card">
                   <h4 class="card">
                <a href={{nombresMaquinas[key]["direccion"]}} style = "color:black">{{nombresMaquinas[key]["Nombre"]}}</a>
              </h4>
                {% if session['visor'] %}
                    <p> <em class="fas fa-info-circle"  style="font-size: 24px"></em> : {{datosJob[key]["Estado"]}}</p>
                    {% else %}
                     <a href="#" style= <button onclick="confirmacionConectar({{nombresMaquinas[key]["numMaquina"]}})" class="buttonConnect"><i class="fas fa-plug" style="font-size:24px;color:greenyellow"></i></button></a>
               <p> <i class="fas fa-info-circle"  style="font-size: 24px"></i> : {{datosJob[key]["Estado"]}}</p>
                    {% endif %}


            {% endif %}

              {% for element in datosFiles[key] %}
                  <!--pre>{{element}}</pre-->
              {% endfor %}   


              </div>
         

          {% else %}
          <div style="background-color:#FF7043; class="card h-100">
               
                    
                  <div class="card-body">
                     <h4 class="card-title">
                <a href={{nombresMaquinas[key]["direccion"]}} style = "color:black">{{nombresMaquinas[key]["Nombre"]}}</a>
              </h4>
                    <pre>No hay OctoPrint</pre>
        
          </div>
          </div>
          {% endif %}
                            </div>

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->
                    {% endfor %}

 <!-- Acaban las impresoras -->       

                <!--Grid row-->

            <!--Section: Cards-->

        </div>

    </main>
    <!-- Div del container -->
</div>
    <!--Main layout-->

</body>
{% endblock %}